<!--  наследуемся от шаблона default.html-->
{% extends 'flatpages/default.html' %}

{% block title %}
Post
{% endblock title %}

{% block content %}
<h1>{{ post.header_post }}</h1>
<h3>Дата публикации: {{post.time_add|date:'d m Y'}}</h3>
<p>{{post.text}}</p>
<hr>
{% if user.is_authenticated%}
    <h4>Комментарии:</h4>
    <div class="col-1">
        <form action="" id="add_comment" method="post">
        {%csrf_token%}
            {{form.as_p}}
            </form>
    </div>
    <button form="add_comment" type="submit" class="btn btn-secondary">Добавить комментарий</button>
    {% if comments %}
        {% for comment in comments %}
            <p><strong>Пользователь: {{ comment.comment_user}} Время: {{comment.time_comment|date:'d-m-Y H:i'}}</strong></p>
            <p>Комментарий:</p>
            <p>{{ comment.text_comment}} </p>
            <p>Рейтинг: <strong>{{ comment.rating_comment}}</strong> </p>
<hr>
        {% endfor %}
    {% else %}
    <h4>Комментариев нет...</h4>
    {% endif %}
{% endif %}
<p class="text-left"><a href="{%url 'post_list'%}" class="btn btn-secondary btn-sm>">Назад</a></p>
{% endblock content %}